.App {
  text-align: center;
}

a {
  color: #333 !important;

}

.keywordAlert{
  margin: 0px 10px 10px 10px;
}

.category-btns{
  margin: 0px 10px 10px 10px;
  color: #333 !important;

}


.card-gallery{
  height:321px;
  margin-bottom:1.5rem;
  border-style: none !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-gallery:hover{
  opacity: 0.6;
}

.gallery-img{
  object-fit: cover;
  height:180px;


}

.text-block {
  position: absolute;
  top:0px;
  left: 0px;
  background: rgb(0, 0, 0); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(0, 0, 0, .7);
  color: white;
  padding: 10px;
  font-size:14px;
}

.title{
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.card-date{
  font-size: 10px;
}

.card-body{
  overflow: hidden;
  max-height:84px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

}

.search-bar{
  margin-bottom:2rem;

}

.search-input{
  margin-right:20px;
}

.search-button{
  margin-right:20px;
}