.App {
  text-align: center;
}

a {
  color: #333 !important;

}

.card-gallery{
  height:300px;
  margin-bottom:2rem;
  border-style: none !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-gallery:hover{
  opacity: 0.6;
}

.gallery-img{
  object-fit: cover;
  height:200px;
  width: 100px;

}

.title{
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.card-text{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}